*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

navbar{
    background-color: white;
    position: fixed;
    
}

.navlog{
    text-transform: uppercase;
    color: red;
    text-shadow: 3px 5px 4px rgba(0,0,0,0.47);
}

.navlog1{
    color: black;
    text-shadow: 3px 5px 4px rgba(0,0,0,0.47);
}

.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: black;
    font-size: 1rem;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 2000;
    font-style: italic;
    text-shadow: 0cap;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* main section */

.main{
    background: url(./img/bg7.png)no-repeat;
    background-color: cover;
    background-position-x: center;
    background-position-y: center;
    background-size:70vh;
    background-position: 750px;
    width: 100%;
    height: 90vh;
}

.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}

.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(233, 20,109);
    width: 72%;
    line-height: inherit;
}

.main .bt1{
   height: 55px;
   width: 135px;
   background-color: black;
   color: white;
   outline: none;
   border: none;
   font-weight: bold;
   border-radius: 0px;
}

.main .bt1:hover{
    background-color: white;
    color:black; 
    border: 1px solid black;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    
}

.main .bt2{
    height: 55px;
    width: 135px;
    background-color: transparent;
    color: black;
    outline: none;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 0px;  
 }

 .main .bt2:hover{
    background-color: black;
    color:white; 
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    
}

.about img{
    height: 72vh;
    /* background-color: #20c20e; */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
/* -webkit-box-shadow: 9px 10px 31px 2px rgba(0,0,0,0.72);
-moz-box-shadow: 9px 10px 31px 2px rgba(0,0,0,0.72);
box-shadow: 9px 10px 31px 2px rgba(0,0,0,0.72);
*/
}

h1{
    font-size: 3rem;
    font-weight: 900;
}

.progress{
    background-color: rgb(233,219,219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}
.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}


.progress p{
    color: white;
    padding: 5px;
}

@keyframes load1{
    0%{
        width: 0;;
    }
    100%{
        width: 98%;
    }
}
@keyframes load2{
    0%{
        width: 0;;
    }
    100%{
        width: 85%;
    }
}
@keyframes load3{
    0%{
        width: 0;;
    }
    100%{
        width: 90%;
    }
}
@keyframes load4{
    0%{
        width: 0;;
    }
    100%{
        width: 95%;
    }
}

.btn1{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
}

.btn1:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.btn2{
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
}

.btn2:hover{
    background-color: black;
    color: white;
    border:none;
    transition: 0.5s;
}

.card{
    border: none;
    outline: none;
    -webkit-box-shadow: -2px 5px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 16px 0px rgba(0,0,0,0.75);
box-shadow: -2px 5px 16px 0px rgba(0,0,0,0.75);
}
.card p{
    color: gray;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: lightgrey;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}
.card:hover .circle{
    background-color: black;
    color: white;
    transition:0.5s
}