<%- include("partials/header.ejs")%>


            <div class="container mt-3">
                <div class="row">
                    <div class="col">
                        <% if todo.title %>
                        <h1><%= todo.list %></h1>
                        <p><%= todo.description %></p>
                        <% } else {%>
                            <h1>Not found</h1>
                        <%} %> 
                    </div>
                </div>
            </div>
            
<%- include ("partials/footer.ejs") %>

