 </main>
 <footer class="w-100 border-top pt-3"
            style="position: fixed;left: 0;bottom: 0;width: 100%;text-align: center;">
            <div class="d-lg-flex justify-content-between">
                <div class="mx-3">
                    <span>TODOist</span>
                </div>
                <div class="copyright">
                    <p>developed and maintained by <strong>REA</strong></p>
                </div>
                <div>
                    <ul class="d-flex gap-3 list-unstyled">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>